body {
	background-color: #0f0f0f;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

body, input, textarea {
	font-size: 25pt;
	font-family: monospace;
	color: #D4D4D4;
	letter-spacing: 2px;
}

input, textarea{
	background: none;
}

.cards {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0px;
	max-height: 100%;
}

.card {
	width: calc(100% - 30px);
	max-width: 1200px;
	margin: 0px auto;
	position: relative;
}

.card:first-of-type {
	margin-top: 20px;
}

.card:last-of-type {
	background-color: #1f1f1f;
	margin-bottom: 15px;
	margin-top: 10px;
}

.card:focus-within {
	background-color: #333333;
}

input:focus, textarea:focus {
	outline: none;
}

.task .query {
	border: none;
	padding: 25px;
	padding-right: 0px;
	width: calc(100% - 50px);
}

.task .result {
	border: none;
	padding: 25px;
	padding-left:0px;
	padding-right: 35px;
	color: rgb(55, 255, 117);
	position: absolute;
	right: 0;
	top: 0;
	cursor: text;
}

.contentcard {
	padding: 25px;
	font-family: sans-serif;
	font-size: 17px;
	background-color: rgb(27, 31, 32);
	margin-bottom: 10px;
	margin-top: 10px;
	letter-spacing: 0px;
}

a {
	color: white;
}

h1 a {
	color:inherit;
	text-decoration: none;
}

.parseTreeItem {
	border-left: 2px solid #888888;
	margin-left: 10px;
	padding-left: 10px;
	margin-top: 5px;
	color: #888888;
	font-family: monospace;
}

.parseTreeItem:hover {
	border-left-color: rgb(43, 204, 255);
	color: white;
}

.parseTreeItem .error {
	border-left-color: red;
}

@media screen and (max-width: 600px) {
    body, input, textarea {
		font-size: 14pt;
    }

	.task .query {
		padding: 15px;
		padding-right: 0px;
	}

	.task .result {
		padding: 15px;
		padding-right: 15px;
	}

	.cards {
		padding-bottom: 75px;
		max-height: calc(100% - 75px);
	}
}
